* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/* Component styles */
@import url('componentes/header.css');
@import url('componentes/footer.css');